/*body{
	background-color: darkred;
}*/

/*Selector class*/

.container{
	width: 90%;
	border: 2px solid green;
	padding: 10px;
	margin: auto;
	text-align: justify;
}

header{
	background: yellow;
	width: 100%;
}

.container main img{
	width: 60%;
}

.Menu ul li a{
	background: white;
	text-decoration:none;
	display:inline-block;
	padding: 16px;
}

.Menu ul{
	list-style:none;
}

.Menu ul li{
	float: left;
}

main{
	clear:both;
}

.Menu ul li a:hover{
	background: black;
	color: white;
}

.container main img{
    width: 40%;
    height: auto;
}