<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
</head>
<link rel="stylesheet" href="../CSS/style.css">
<body>

   <div class="container">

      <header>
          <nav class="Menu">
              <ul>
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="productos.html">Productos</a></li>
                  <li><a href="contactos.html">Contactos</a></li>
                  <li><a href="">Servicios</a></li>
              </ul>
          </nav>
      </header>

       <main>
           
        <img src="../img/servicios.jpg" alt="">

        <div class="main_principal">
          <h2>Bienvenidos a los servicios</h2>

          <video src="../video/video_servicios.mp4" controls width="50%" autoplay>
            
          </video>
          <p> Esto es un parrafo dentro de un divisor </p>

                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                 onsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        </main>

        <footer>
          <h2>Pie de mi pagina web</h2>
        </footer>

   </div>
 
</body>
</html>